@model ithomeFrameworkMvc01.Models.Student

@{
    ViewBag.Title = "Home Page";
    Layout = null;

    var datetime = DateTime.Now.ToString("yyyMMddHHmmss");

    var list = ViewBag.List;

    var cityList = ViewBag.CityList;


}

<script src="/Scripts/jquery-3.4.1.min.js?@datetime"></script>
<script src="/Scripts/Home/Home.js?@datetime"></script>

<h1>Input User Data</h1>

<label>Account</label>
<br />
<input type="text" name="Account" />
<br />
<label>Password</label>
<br />
<input type="text" name="Password" />
<br />
<label>Again Password</label>
<br />
<input type="text" name="AgainPassword" />
<br />
<label>Address</label>
<select name="City">
    <option value="">請選擇</option>
    @foreach (var c in cityList)
    {
        <option value="@c.CityId">@c.CityName</option>
    }
</select>
<select name="Village">
    <option value="">請選擇</option>
</select>
<br />
<input type="text" name="Address" />
<br />
<input type="submit" value="確定"/>
<input type="button" value="清除"/>

