@model ithomeFrameworkMvc01.Models.Home.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var datetime = DateTime.Now.ToString("yyyMMddHHmmss");
    var msg = ViewBag.Msg;
}

@Styles.Render("~/Scripts/Home/Index.js?" + @datetime)

<h1>Login</h1>

<div style="color:red">
    @Html.ValidationSummary(true)
    @msg
</div>

<form action="/Home/Login" method="post">
    <label>Account</label>
    <br />
    <input type="text" name="Account" placeholder="Input Account" />
    <span style="color:red">@Html.ValidationMessageFor(model => model.Account)</span>
    <br />
    <label>Password</label>
    <br />
    <input type="password" name="Password" placeholder="Input Password" />
    <span style="color:red">@Html.ValidationMessageFor(model => model.Password)</span>
    <br />
    <input type="submit" class="btnBlue" value="Sure" />
    <a href="/Home/Member">Sign Up</a>
</form>
@*<input type="submit" value="Sign Up" id="SignUp" name="SignUp" />*@

